.page
{
    background-color : orange;
}
p,li
{
    font-size : 16px;
}
.heading
{
    text-align : center;
    text-decoration : underline;
}
.image
{
    display : block;
    margin : 0 auto;
}
.secondpage
{
    background-color : yellow;
}